#character {
  position: absolute;
  background-color: pink;
  border: red solid 3px;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  font-family: "Lucida Sans";
  padding: 5px;
  text-align: center;
}

#character * {
  display: inline-block;
  bottom: 0px;
}
